/* Cor de fundo */
body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

h1 {
    color: var(--color-white);
}

/* Confifuração do sidebar (posição, tamanho, etc) */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

/* Configuração dos links da sidebar (Cor de fundo, cor da fonte, espaçamento, etc) */
.sidebar__navigation {
    background-color: var(--color-gray-12);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

/* Configuração da logo na sidebar */
.sidebar__navigation .logo {
    background: var(--color-gray-12);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: var(--color-gray-b3);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

/* Configuração da sessão da bilbioteca */
.biblioteca {
    background-color: var(--color-gray-12);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: var(--color-gray-b3);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.biblioteca .conteudo__biblioteca {
    display: flex;
    justify-content: space-between;
}

.biblioteca .botão__biblioteca {
    display: flex;
    margin-right: 10px;
    color: var(--color-gray-b3);
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.biblioteca .botão__biblioteca .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.biblioteca .botão__biblioteca:hover {
    cursor: pointer;
}

.biblioteca .conteudo__biblioteca .fa-plus {
    margin: 24px 10px;
}

.section__playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: var(--color-gray-b3);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section__playlist .section__playlist__conteudo {
    display: flex;
    flex-direction: column;
}

.section__playlist__conteudo .text{
    padding-bottom: 14px;
    color: var(--color-white);
}

.section__playlist__conteudo .title {
    font-weight: 700;
}

.section__playlist__conteudo .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section__playlist__conteudo .botão__section__playlist {
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
}

.section__playlist__conteudo .botão__section__playlist:hover {
    cursor: pointer;
}
.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: var(--color-gray-b3);
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.idiomas .botão__idiomas {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

/* Configuração do Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    color: var(--color-white);
    border-radius: 8px;
}

.footer h2 {
    padding-left: 14px;
    font-weight: 700;
    font-size: 20px;
}

.conteudo__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 14px;
}

.conteudo__footer p {
    padding-top: 14px;
    padding-left: 14px;
}

.footer .botão__footer {
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 160px;
}

.footer .botão__footer:hover {
    cursor: pointer;
}