:root {
    /* Fonte */
    --font-dm-sans: "DM Sans", sans-serif;
    /* Cores */
    --color-white: #fff;
    --color-gray-b3: #b3b3b3;
    --color-gray-12: #121212;
    --color-gray-13: #131313;
    --color-black: #000;
    --rbga-arrow-color: rgba(0, 0, 07);
}